annotated-types @ file:///C:/miniconda3/conda-bld/annotated-types_1761745045323/work
anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622439618/work
blis @ file:///C:/miniconda3/conda-bld/cython-blis_1765532896100/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961372591/work
catalogue @ file:///C:/b/abs_0d918n68qi/croot/catalogue_1703688198988/work
certifi @ file:///C:/Users/task_176765902528894/croot/certifi_1767659216804/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832794697/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744944645/work
click @ file:///C:/miniconda3/conda-bld/click_1764332349001/work
cloudpathlib @ file:///C:/Users/task_176778665175970/croot/cloudpathlib_1767787249466/work
cloudpickle @ file:///C:/miniconda3/conda-bld/cloudpickle_1764930556434/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
confection @ file:///C:/b/abs_c7k0lrp401/croot/confection_1750277652922/work
cymem @ file:///C:/miniconda3/conda-bld/cymem_1756984401716/work
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
exceptiongroup @ file:///C:/miniconda3/conda-bld/exceptiongroup_1761560437674/work
filelock @ file:///C:/Users/task_176943980686702/croot/filelock_1769440565956/work
fsspec @ file:///C:/Users/task_176889823622047/croot/fsspec_1768898367226/work
gmpy2 @ file:///C:/miniconda3/conda-bld/gmpy2_1764748105976/work
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931282349/work
hf-xet @ file:///C:/Users/task_176967422326831/croot/hf-xet_1769674436601/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447376159/work
huggingface_hub @ file:///C:/Users/task_177020907963256/croot/huggingface_hub_1770209889131/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044311/work
importlib_metadata @ file:///C:/miniconda3/conda-bld/importlib_metadata-suite_1763996632649/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///C:/Users/task_176786734930694/croot/joblib_1767868144277/work
markdown-it-py @ file:///C:/Users/task_176700167428312/croot/markdown-it-py_1767001782757/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552284437/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592981169/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593075610/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
murmurhash @ file:///C:/miniconda3/conda-bld/murmurhash_1764710997869/work
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
nltk @ file:///C:/miniconda3/conda-bld/nltk_1761121234467/work
numpy @ file:///C:/miniconda3/conda-bld/numpy_and_numpy_base_1761579405538/work/dist/numpy-2.2.5-cp310-cp310-win_amd64.whl#sha256=074bffd27eaf24d54337a4bac76b167c7d794ddb6a813f6fa3fb37c91af766a8
opentelemetry-api @ file:///C:/miniconda3/conda-bld/opentelemetry-api_1763996137579/work
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
preshed @ file:///C:/Users/task_176616361278018/croot/preshed_1766163741954/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496059965/work
pydantic @ file:///C:/miniconda3/conda-bld/pydantic_1764083582462/work
pydantic_core @ file:///C:/miniconda3/conda-bld/pydantic-core_1764009801983/work
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431425987/work
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030270/work
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513320/work
regex @ file:///C:/miniconda3/conda-bld/regex_1765378783231/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359612241/work
rich @ file:///C:/miniconda3/conda-bld/rich_1760375613847/work
ruamel-yaml-conda @ file:///C:/b/abs_6ejaexx82s/croot/ruamel_yaml_1667489767827/work
ruamel.yaml.clib @ file:///C:/miniconda3/conda-bld/ruamel.yaml.clib_1762530094352/work
safetensors @ file:///C:/miniconda3/conda-bld/safetensors_1762516013417/work
scikit-learn @ file:///C:/b/abs_45qemhn4lg/croot/scikit-learn_1753427401078/work
scipy @ file:///C:/miniconda3/conda-bld/scipy_1759222090244/work/dist/scipy-1.15.3-cp310-cp310-win_amd64.whl#sha256=2c02ce5f7bc108a9dd2298fac421e55898c14864219396421ffe00419ec8c736
sentence-transformers @ file:///C:/Users/task_176917451885427/croot/sentence-transformers_1769174641876/work
shellingham @ file:///C:/miniconda3/conda-bld/shellingham_1761912226126/work
smart_open @ file:///C:/Users/task_177003418352152/croot/smart_open_1770034287935/work
sniffio @ file:///C:/miniconda3/conda-bld/sniffio_1764329212488/work
spacy @ file:///C:/Users/task_176787279701840/croot/spacy_1767872957437/work
spacy-legacy @ file:///C:/b/abs_03fuap2pri/croot/spacy-legacy_1684141127990/work
spacy-loggers @ file:///C:/Users/task_176795226176230/croot/spacy-loggers_1767952486109/work
srsly @ file:///C:/miniconda3/conda-bld/srsly_1764254787481/work
sympy @ file:///C:/miniconda3/conda-bld/sympy_1764762978780/work
textblob @ file:///C:/b/abs_b5u1wvlz2e/croot/textblob_1756480907237/work
thinc @ file:///D:/bld/thinc_1763428406414/work
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361785970/work
tokenizers @ file:///D:/bld/tokenizers_1764694754082/work/bindings/python
torch==2.7.0
tqdm @ file:///C:/miniconda3/conda-bld/tqdm_1762863407046/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1770315058725/work
typer==0.20.0
typer-slim==0.20.0
typing-inspection @ file:///C:/miniconda3/conda-bld/typing-inspection_1760614192776/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
ujson @ file:///C:/miniconda3/conda-bld/ujson_1763119289835/work
urllib3 @ file:///C:/Users/task_176781036207501/croot/urllib3_1767810484846/work
wasabi @ file:///C:/miniconda3/conda-bld/wasabi_1757345818945/work
weasel @ file:///C:/Users/task_176735724091074/croot/weasel_1767357639382/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746276406/work
wrapt @ file:///C:/miniconda3/conda-bld/wrapt_1764243882331/work
zipp @ file:///C:/miniconda3/conda-bld/zipp_1763977937192/work
